/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-image-comparison-mgarcia {
	background-color: #21759b;
	display: flex;
	flex-direction: row;
 	flex-wrap: wrap;
}

.after-image-container,
.before-image-container {
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
